* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard-analista {
    display: flex;
    
}

.filtros-cabecalho {
    display: flex;
    flex-direction: column;
    
}

.filtros-gerais {
    display: flex;

}