@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

:root {
  --tamanho-header: 80px;
  --tamanho-footer: 65px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --branco-gelo: #E2E8F0;
  --ciano: #00B2B2;
  --verde-petroleo: #0A202D;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: var(--ciano);
}

.button{
  background-color: var(--verde-petroleo);
  color: var(--branco-gelo);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 200%;
  border-radius: 1.5rem;
  border: var(--branco-gelo) 0.1rem solid;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}

.button:hover{
  background-color: var(--ciano);
  color: var(--branco-gelo);
}

.banner .button{
  height: 3rem;
  width: 15%;
  border-radius: 0.5rem;
  align-self: flex-end;
  justify-self: flex-end;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: var(--ciano);
}

.titulo {
  color: var(--branco-gelo);
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: var(--tamanho-banner);
  color: var(--branco-gelo);
  background-image: url('../assets/imgs/banner-servidores.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .container {
  width: 60%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 2.3rem;
}

.banner .container span {
  font-weight: 800;
}

/* MISSÃO VISÃO VALORES */

.social {
  background-color: var(--branco-gelo);
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.social p {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FOOTER */

.footer {
  background-color: var(--ciano);
  height: 150px;
  color: var(--branco-gelo);
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}