@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}
body{
    display: flex;
    
}

.tela {
    flex: 1;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 24px;
  overflow: hidden;
}

.topo{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
}
.cadastrar-zona {
    background-color: #EBF4F8;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
    align-items: center;
    width: 50%;
}

.zonas{
    display: flex;
    flex-direction: column;
    background-color: #EBF4F8;
    width: 98%;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    min-height: 75%;
    max-width: 98%;
    
}

.topo-zonas{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.topo-zonas input{
    border-radius: 10px;
    border-style: none;
    width: 30%;
}

.container-abas {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    max-width: 100%;
    width: 100%;
    white-space: nowrap
}

.aba{
    flex: 0 0 auto; 
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #ebeaea;
    padding: 10px;

}

.escolhida{
    background-color: #f7f7f7;
}

.usuarios-zonas{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 10px;
    min-height: 73%;
    overflow-y: auto;
    max-height: 80%;
    max-width: 100%;
}
.topo-usuario-zonas{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}
.topo-usuario-zonas input {
    border-radius: 10px;
    border-style: none;
}

.linha-usuario{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 2%;
}
.foto{
   width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
}

.card-usuario{
    background-color: #EBF4F8;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 10px;
    flex: 1 1 30%;
    max-width: 30%;
    align-items: center;
}
.conteudo-usuario{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.linha-conteudo{
    display: flex;
    flex-direction: row;
}